
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Merriweather", serif;;
}

body {
    background: #82a6d9;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.q-box{
    width: 60vw;
    background: #e9eac1;
    border: 2px solid rgb(211, 211, 229);
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 10px 25px 5px #e7e8ad ;
    padding: 40px;
    position: absolute;
   }
.q-box h2{
    font-size: xx-large;
    margin-bottom: 30px;
    position: relative;
}

.q-box h2::after{
 content: '';
 width: 75px;
 height: 3px;
 border-radius: 3px;
 background: rgb(28, 106, 184);
 position: absolute;
 bottom: -10px;
 left: 50%;
 transform: translateX(-50%);
}

.q-box blockquote{
    font-size: 20px;
    min-height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.q-box blockquote::before, .q-box blockquote::after{
    content: '';
}

.q-box span{
    display: block;
    margin: 10px;
    float: right;
    position: relative;
}

.q-box span::before{
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(28, 106, 184);
    position: absolute;
    top: 50%;
    left: -30px;
}

.q-box div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.q-box button{
    background: rgb(28, 106, 184);
    color: #fff;
    border-radius: 10px;
    border: 1px solid rgb(28, 106, 184);
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    cursor: pointer;
}

.q-box button img{
    width: 20px;
    margin-right: 10px;
}

.q-box button:nth-child(2){
    background: transparent;
    color: #333;
}